{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="col-md-12 p-2">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <h2>List of all posts</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <a href="{{ path('post.show', {id: post.id}) }}" class="text-decoration-none">
                            {{ post.title }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('post.delete', {id: post.id}) }}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
