{% extends 'base.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}

    <div style="display: flex; flex-direction: column;">
        <div>
            <h2>{{ post.title }}</h2>
            <em>{{ post.category }}</em>
        </div>
        <hr>
        <div>
            <img src="{{ '/uploads/' ~ post.image }}" alt="{{ post.title }}">
            <p>The description of the post wil be shown here</p>
        </div>
    </div>
    
{% endblock %}
